<div class="ui main text container">
	<h3>
		Follow us on Social Media to get latest updates!
	</h3>
	
<button class="ui facebook button" style="margin-bottom: 5px;">
  <i class="facebook icon"></i>
  Facebook
</button>
<button class="ui twitter button" style="margin-bottom: 5px;">
  <i class="twitter icon"></i>
  Twitter
</button>
<button class="ui youtube button" style="margin-bottom: 5px;">
  <i class="youtube icon"></i>
  YouTube
</button>
<button class="ui instagram button" style="margin-bottom: 5px;">
  <i class="instagram icon" ></i>
  Instagram
</button>
<h3>
	
	</h3>

</div>
</body>
</html>